<% content_for :head do %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
<% end %>

<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <div class="contacts">
      <h3><%= t '.contacts' %></h3>
      <ul class="contact_lists">
        <li>
          <span class="viber_ico"></span>
          <span class="kyivstar_ico"></span>
          <%= link_to '(097)&nbsp;796&#8211;81&#8211;53'.html_safe, '#' %> /
          <%= link_to '(097)&nbsp;789&#8211;23&#8211;15'.html_safe, '#' %>
        </li>
        <li>
          <span class="viber_ico"></span>
          <span class="mts_ico"></span>
          <%= link_to '(099)&nbsp;153&#8211;18&#8211;96'.html_safe, '#' %> /
          <%= link_to '(050)&nbsp;033&#8211;80&#8211;50'.html_safe, '#' %>
        </li>
        <li class="skype_ico">
          <span class="skype_ico"></span>
          <%= link_to 'zvShop.sales', 'skype:zvShop.sales?chat' %>
        </li>
        <li class="mail_ico">
          <span class="mail_ico"></span>
          <%= link_to 'zvShop@gmail.com', 'mailto:zvShop@gmail.com' %>
        </li>
      </ul>
    </div>
  </div>

  <div id="footer-right" class="columns omega eight" data-hook>
    <span class="powered_by">
      <%= t 'spree.powered_by' %>
      <%= link_to 'Solidus', 'http://solidus.io/' %>
    </span>
  </div>
</footer>
